body {
  font-family: 'Open Sans', sans-serif;
  font-size: x-small;
}

h1, h2, h3, p{
  margin: 0;
}

/*******************************
            HEADER
********************************/

.mobile-bar {
  padding-left: 5px;
}

.nav-bar{
  background-color: #7A9E9F;
  box-shadow: 0px 5px 4px 0px rgb(132,132,132);
  padding:5px;
  margin-bottom: 7px;
}

.icon {
  height:27px;
  width:32px;
}

.right-nav {
  float:right;
  margin-right: 20px;
}

/*******************************
            SECTIONS
********************************/

.section {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 13px;
  position: relative;
}

.title {
  font-size: 23px;
  flex: 100%;
  background-color: #4F6367;
  color:#EEF5DB;
  text-align: center;
  box-shadow: 0px 5px 4px 0px rgb(132,132,132);
  margin-bottom: 8px;
}

  /********** status **********/

.avatar-name{

}

.level{

}

.stats{

}

  /********** challenges **********/

.challenges {
  display: flex;
  background-color: #EEF5DB;
  border: 1px #979797 solid;
  color:#4F6367;
  height: 58px;
  box-shadow: 0px 5px 4px 0px rgb(132,132,132);
}

.dex {
  width: 20%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-div {
  width: 28%;
  border-left: none;
  justify-content: center;
  align-items: center;

}

.map {
    width: 67px;
}

.miles {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-right:none;
}

.skill,
.run {
  font-weight: 300;
  font-size: 16px;
}

.points {
  margin:0px;
}

.chr {
  font-size: .70em;
}

  /********** calendar **********/

.scroll{
  left: 40.5%;
  top: -1px;
  width: 76px;
  position: absolute;
}

.calendar{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.day {
  border: 1px #979797 solid;
  background-color: #eef4da;
  flex: 1 1 23%;
  height: 80px;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

  /********** log **********/

.food-log {
  background-color: #EEF5DB;
  border: 1px #979797 solid;
  color:#4F6367;
  text-align:center;
}

.food-nums {
  flex:1;
  border-right: none;
}

.nums {
  font-weight: 700;
  font-size: 1.15em;
  margin: 15px 0px 0px 0px;
}

.subtext {
  font-size: .5em;
  margin: 0px 0px 15px;
}

span {
  margin:5px;
}

.img-wrapper {
  background-color:#4F6367;
  border-radius: 8px;
  width: 55px;
  height: 27px;
  display: flex;
}

.log {
  border-left: none;
  padding:20px 5px;
}

.log-text {
  color: #EEF5DB;
  margin-top: 7px;
  font-weight: 700;
  font-size: .6em;
}
/*
hidden shit*/

.hidden-challenges {
  display:flex
}

.hidden-skills {
  display:flex;
}

.goals {
  display: flex;
  flex-wrap: wrap;
  border-left: 10px black solid;
}

.row-box {
  display:flex;
  flex:1 1 100%;
}

.rotate {
  background-color: #4F6367;
  }

.rotate-desc{
  background-color:#7A9E9F;
  margin:0px;
}

.rotate-word {
  transform: rotate(270deg);
}
/*******************************
      MEDIA QUERIES
*******************************/

@media (min-width: 560px) {

    .main {
      display: flex;
      flex-wrap: wrap;
    }

    section {
      display:flex;
      flex: 1 1 35%;
      flex-wrap: wrap;
    }
